body {
    width: 100vw;
    height: 100vh;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: white;
    position: absolute;
    top: 80px;
    right: 20px;
    transition: all .1s ease, translate .3s ease, scale .3s ease;
}
form:not(.active) {
    scale: 1 0;
    translate: 0 -50%;
}
form > * {
    width: 100%;
}
form > textarea {
    height: 100px;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
table {
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid lightgray;
    width: calc(100% - 200px);
    margin: auto;
    text-align: center;
}
table th {
    width: 25%;
    padding: 5px 50px;
}
table td {
    width: 25%;
    padding: 10px 50px;
}
table > thead {
    background-color: lightgray;
    border: none;
}