table {
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid lightgray;
    width: calc(100% - 200px);
    margin: auto;
    text-align: center;
}
table th {
    width: 25%;
    padding: 5px 50px;
}
table td {
    width: 25%;
    padding: 10px 50px;
}
table > thead {
    background-color: lightgray;
    border: none;
}